PyQt5>=5.15.9
PyQtChart>=5.15.6
requests>=2.31.0
apscheduler>=3.10.4
psutil>=5.9.8
paramiko>=3.4.0
openpyxl>=3.1.2
Pillow>=10.2.0
python-docx>=1.1.2
reportlab>=4.1.0
pdf2docx>=0.5.6
pdfplumber>=0.11.0
docx2pdf>=0.1.1
PyYAML>=6.0
